@model LiteCommerce.DomainModels.Employee
@{
    ViewBag.Title = "Xác nhận xóa nhân viên";
}

<form class="form-horizontal" method="post" action="~/Employee/Delete/@Model.EmployeeID">
    <div class="form-group">

        <label class="control-label col-sm-2">Ảnh:</label>
        <div class="col-sm-10">
            @*<img src="https://bootdey.com/img/Content/avatar/avatar6.png" class=" profile-avatar" style="width: 140px" alt="User avatar">*@
            <img src="@Model.Photo" class=" profile-avatar" style="width: 140px" alt="User avatar">
        </div>

       
        <div class="col-sm-10">
            <label class="control-label col-sm-2">Tên nhân viên:</label>
            <p class="form-control-static">@Model.LastName @Model.FirstName</p>
        </div>

        
        <div class="col-sm-10">
            <label class="control-label col-sm-2">Ngày sinh:</label>
            <p class="form-control-static">@Model.BirthDate</p>
        </div>

        
        <div class="col-sm-10">
            <label class="control-label col-sm-2">Email:</label>
            <p class="form-control-static">@Model.Email</p>
        </div>

        
        <div class="col-sm-10">
            <label class="control-label col-sm-2">Ghi chú:</label>
            <p class="form-control-static">@Model.Notes</p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-offset-2 col-sm-10">
            <p class="text-danger" style="font-size:18px">
                Bạn có chắc chắn muốn xóa nhân viên này khỏi hệ thống hay không?
            </p>
        </div>
        <div class="col-lg-offset-2 col-sm-10">
            <button class="btn btn-danger">Đồng ý xóa</button>
            <a href="~/Employee/Index" class="btn btn-warning">Bỏ qua</a>
        </div>
    </div>
</form>

